.disabled-sort{
    pointer-events: auto !important;
}
.table thead tr th a {
    position: relative;
}

.sort-table::after {
    left: 1em;
    content: "↓";
    position: absolute;
    cursor: pointer;
    color: #ccc;
}

.sort-table::before {
    left: 1.5em;
    content: "↑";
    position: absolute;
    cursor: pointer;
    color: #ccc;
}



@media screen and (max-width: 767px) {
    
    .button-filter{
        width: 100% !important;
    }
}
